# The African food production dataset
provided by the FAO website

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')

In [3]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [4]:
display(df.head(100))
display(df.shape)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,Algeria,2515,Rye and products,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
96,4,Algeria,2515,Rye and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
97,4,Algeria,2516,Oats,5511,Production,1000 tonnes,57.00,68.00,72.00,64.00,118.00
98,4,Algeria,2516,Oats,5611,Import Quantity,1000 tonnes,13.00,32.00,24.00,7.00,2.00
99,4,Algeria,2516,Oats,5072,Stock Variation,1000 tonnes,0.00,3.00,2.00,-1.00,2.00

(60943, 12)

## Q2
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [5]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

## Q3
What is the total Protein supply quantity in Madagascar in 2015?

In [6]:
df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
# df.loc[df['Area'] == 'Madagascar','Y2015'].sum()

173.04999999999998

In [7]:
mad = df.groupby(['Area','Element'])['Y2015'].sum()
mad.loc['Madagascar',:]

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

## Q4
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [8]:
print(df.groupby('Area')['Y2017'].sum().sort_values().reset_index())

                           Area       Y2017
0                Sudan (former)        0.00
1                  Ethiopia PDR        0.00
2                       Comoros       59.84
3                    Seychelles      442.34
4         Sao Tome and Principe    12662.63
5                    Cabo Verde    14650.74
6                 Guinea-Bissau    19102.77
7                       Lesotho    21267.96
8                      Botswana    22101.30
9                      Djibouti    22729.91
10                       Gambia    23154.18
11                        Gabon    27979.64
12                      Liberia    29342.20
13                      Namibia    29874.89
14     Central African Republic    29937.00
15                        Congo    41181.68
16                         Togo    49841.88
17                    Mauritius    51114.83
18                     Eswatini    54343.33
19                 Sierra Leone    55311.33
20                         Chad    71594.68
21                       Rwanda    73663.69
22                     Zimbabwe    75919.34
23                      Senegal    95681.15
24                       Guinea    98138.87
25                 Burkina Faso   101855.07
26                       Zambia   103223.77
27                      Tunisia   124167.20
28                        Benin   124771.22
29                        Niger   126707.58
30                   Madagascar   131197.73
31                         Mali   149928.33
32                   Mauritania   156665.46
33                   Mozambique   161407.98
34                       Malawi   181098.71
35                       Uganda   213950.38
36                Côte d'Ivoire   224599.01
37                       Angola   229159.57
38                     Cameroon   232030.43
39                        Sudan   239931.92
40                        Kenya   264660.66
41  United Republic of Tanzania   322616.85
42                      Algeria   325644.27
43                        Ghana   337599.06
44                      Morocco   388495.36
45                     Ethiopia   448683.76
46                 South Africa   517590.54
47                        Egypt   866379.92
48                      Nigeria  1483268.23

## Q6
 What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [9]:
nan_2014 = df['Y2014'].isna().sum()
print(f'Total number of missing data in 2014 is {nan_2014}')
perc_2014 = (nan_2014/len(df)).round(3)
print(f'Percentage of missing data in 2014 is {perc_2014}')

Total number of missing data in 2014 is 1589
Percentage of missing data in 2014 is 0.026

## Q9
 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [10]:
high_sum_2017 = df.groupby('Area')['Y2017'].sum().sort_values(ascending=False)
print(high_sum_2017)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

## Q11
 Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [11]:
highest_stock = df.groupby('Element')[['Y2014','Y2015','Y2016','Y2017']].sum().sort_values(by=['Y2014','Y2015','Y2016',
                                                                                               'Y2017'],ascending=False)
print(highest_stock.loc['Stock Variation',:].sort_values(ascending=False))

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Name: Stock Variation, dtype: float64

## Q13
What is the total number of unique countries in the dataset?

In [12]:
unique = len(df['Area'].unique())
print(f'Total unique countries is {unique}')

Total unique countries is 49

## Q16
 Which year had the least correlation with ‘Element Code’?

In [13]:
df.corr().loc['Element Code']

C:\Users\user\AppData\Local\Temp\ipykernel_13964\3755532404.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr().loc['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

## Q17
 Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [14]:
proc_2017 =df.groupby('Element').sum().loc['Processing','Y2017']
print(f'Total number of Processing in 2017 is {proc_2017}')

Total number of Processing in 2017 is 292836.0

C:\Users\user\AppData\Local\Temp\ipykernel_13964\630075269.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  proc_2017 =df.groupby('Element').sum().loc['Processing','Y2017']

## Q20

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [15]:
wine = df.groupby('Item')[['Y2015','Y2018']].sum().loc['Wine']
print(wine)

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64